{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Polls</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="sticky-footer-navbar.css" rel="stylesheet">   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

      
    </head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/polls">Polls</a>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Add a Poll</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/polls">Vote in a Poll</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Results of Polls</a>
      </li>
      <!-- Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
          Other options
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="">Add Comments</a>
            <a class="dropdown-item" href="#">Edit Comments</a>
            <a class="dropdown-item" href="/list">View Comments</a>
        </div>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
    <!-- Begin page content -->
    <main role="main" class="container">
    <div class="py-5 text-left">
    <h1 style="text-decoration: underline;">Add a new Comment</h1>
    </div>
<div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:add'%}" method = "post">    
    {% csrf_token %}
    <div class="mb-3">
    <h4>Enter your name</h4>
    <input type="text" id="comment_name" value="{{ name }}" name="comment_name" placeholder = "..."><br><br>
    <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
    <div class="mb-3">
    <h4>Enter your comment</h4>
    <input type="text" id="comment" value="{{ text }}" name="comment" placeholder = "..."><br><br>
    <div class="invalid-feedback">
        Valid comment is required.
      </div>
    </div>
    <hr class="mb-4">
    <button type="submit" class="btn btn-primary btn-lg btn">Post</button>
</form>
</div>
</main>
<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      /* background-color: red; */
      /* color: white; */
      text-align: center;
    }
    </style>
<footer class="footer">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/parthkasat-uva"> Parth Kasat</a>
    </div>
</footer>
</body>
</html>